
.first_text{
    font-size: 50px;
    font-family: "Open Sans", sans-serif, Roboto;
    text-align: center;
    height: 150px;
}

.content {
    display: none;
}
#content1 {
    display: flex;
    font-size: 30px;
    text-align: right;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif, Roboto;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.menu button {
    height: 70px;
    width: 400px;
    background-color: #303435;
    font-size: 20px;
    color: #ffffff;
}


.calendar-wrapper {
    width: 360px;
    margin: 3em auto;
    padding: 2em;
    border-radius: 5px;
    background: #fff;
}
table {
    clear: both;
    width: 100%;
    border: 2px solid #b6b0b0;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}
td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}
thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
}
td.not-current {
    color: #c0c0c0;
}
td.today {
    font-weight: 700;
    color: #28283b;
    background-color: silver;
}

td.weekend{
    font-weight: 700;
    color: red;
}
#btnPrev {
    float: left;
    width: 100px;
    font-size: 15px;
    height: 50px;
    font-family: "Open Sans", sans-serif, Roboto;
    background-color: #ffffff;
    color: #706b6b;
    border: 5px solid #ffffff;
}

#btnNext {
    float: right;
    width: 100px;
    font-size: 15px;
    height: 50px;
    background-color: #ffffff;
    color: #706b6b;
    border: 5px solid #ffffff;
}

.task3{
    display: flex;
    flex-direction: row;
}
.block{
    margin: 10px;
    font-family: "Open Sans", sans-serif, Roboto;
    font-size: medium;
    line-height: 1.6;

}

.quad{
    width: 200px;
    height: 100px;
    border: 1px solid #444444;
    /*background-color: #444444;*/
    margin-right: 10px;

}

.flex-block{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 20px 0;
}
