.btr
{
    display: flex;
    width: 20%;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;


}
.del{
    display: flex;
    height: 70px;
    border: 1px solid black;

}

